.attribution {
  font-size: 1.4rem;
  text-align: center;
  color: var(--text-color);

  & a {
    color: hsl(228, 45%, 44%);
  }
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
