@import './variables';

[data-theme='light'] {
  --text-color: hsl(200, 15%, 8%);
  --elements-bg: hsl(0, 0%, 100%);
  --body-bg: hsl(0, 0%, 98%);
  --input-color: hsl(0, 0%, 52%);
}

[data-theme='dark'] {
  --text-color: hsl(0, 0%, 100%);
  --elements-bg: hsl(209, 23%, 22%);
  --body-bg: hsl(207, 26%, 17%);
  --input-color: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  // @include respond(mid) {
  //   font-size: 50%;
  // }

  // @include respond(sm) {
  //   font-size: 40%;
  // }

  // @include respond(phone) {
  //   font-size: 30%;
  // }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;

  // @include respond(phone) {
  //   font-size: 3.6rem;
  // }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}
