@import '../../../../variables';

.Country {
  margin-top: 15rem;
  margin-bottom: 5rem;

  &Item {
    display: flex;
    margin-top: 5rem;
    align-items: center;

    @include respond(phone) {
      flex-flow: column;
    }

    & > * {
      flex: 0 0 50%;

      @include respond(phone) {
        flex: none;
      }
    }
  }

  &Left {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 30rem;
    padding-right: 5rem;

    @include respond(phone) {
      padding-right: 0;
      margin-bottom: 2rem;
    }

    & img {
      width: 100%;
      height: 80%;
    }
  }

  &Right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;

    & h2 {
      font-weight: 800;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }

  &List {
    list-style: none;
    height: 16rem;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 3rem;

    @include respond(phone) {
      height: auto;
    }
  }

  &Items {
    display: flex;
    margin-bottom: 1rem;

    @include respond(phone) {
      &:nth-child(5) {
        margin-bottom: 5rem;
      }
    }
  }

  &Border {
    display: flex;
    align-items: flex-start;
    width: 100%;

    @include respond(phone) {
      flex-flow: column;
    }

    & h4 {
      flex: 0 0 30%;

      @include respond(phone) {
        flex: none;
        margin-bottom: 1rem;
      }
    }
  }

  &Line {
    display: flex;
    flex-flow: row wrap;
    flex: 1;

    @include respond(phone) {
      flex: none;
    }

    & a {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      padding: 1rem;
    }
  }
}
